
body {
        background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}
.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px;
}
h1{
    text-align: center;
    color: white;
    padding: 40px;
}
#Projets, #Présentation, #Compétences, #Formations{
    margin-top: 100px;
}
.img_projet{
        width: 50%; 
        height: auto; 
        display: block; 
        margin: 20px auto; 
}
.img_projet2{
    width: 30%; 
    height: 5%; 
    display: block; 
    margin: 20px auto; 
}
.carousel-item {
    text-align: center;
}
    
.carousel-text-below{
    margin-top: 10px; 
    color: white; 
} 
.carousel-item a{
    color: white;
    text-decoration: none;
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.3s;
    
}
.carousel-item a:hover{
    background-color: #2575fc;
}
#Contact{
    margin-top: 50px;
    margin-bottom: 150px;
}
.coordonnées a img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.coordonnées a img:hover {
    transform: scale(1.2);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px 0;
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease-in 2s;
    animation-fill-mode: forwards;
}

.collapse {
    transition: all 0.4s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking {
    animation: blink 4s infinite;
}